.steam-container img {
    width: 300px;
    height: 200px;
    float: left;
    margin-right: 10px;
}

.steam-container .tags .ob-post-tag {
    margin-right: 5px;
}

.steam-container .title {
    font-size: 15px;
}
