.steam-container {
    background-color: white;
}

.steam-container img {
    width: 276px;
    height: 129px;
    float: left;
    margin-right: 10px;
}

.steam-container .tags .ob-post-tag {
    margin-right: 5px;
}

.steam-container .title {
    font-size: 20px;
    padding: 10px;
}
